SELF_VERSION=-
MONGO_URI=
DNS_SERVERS=8.8.8.8,4.4.4.4
SERVICE_BUS_CONNECTION_STRING=
PORT=3002
SCHEDULER_SYNCHRONIZE_STATIONS=
SCHEDULER_SYNCHRONIZE_STATIONS_DISABLED=
OPEN_WEATHER_MAP_URL=
OPEN_WEATHER_MAP_KEY=
WEATHER_FLOW_WEATHER_URL=
REDIS_CACHE_URL=
REDIS_CACHE_CONNECTION_TIMEOUT=
CACHE_DISABLED=
